<svg xmlns="http://www.w3.org/2000/svg" style="display:none">
  <defs>
    <symbol id="check" viewBox="0 0 16 16">
      <path fill="currentColor" d="M8,0C3.6,0,0,3.6,0,8s3.6,8,8,8s8-3.6,8-8S12.4,0,8,0z M7,11.4L3.6,8L5,6.6l2,2l4-4L12.4,6L7,11.4z"></path>
    </symbol>
  </defs>
</svg>
<div class="container test">
  <div class="success-block">
    <svg class="icon success-icon" aria-hidden="true" xmlns:xlink="http://www.w3.org/1999/xlink">
      <use xlink:href="#check"></use>
    </svg>
    <div class="title"><span>O</span><span>r</span><span>d</span><span>e</span><span>r</span> &nbsp;<span>C</span><span>o</span><span>n</span><span>f</span><span>i</span><span>r</span><span>m</span><span>e</span><span>d</span>
    </div>
  </div>
</div>
