<body>
    <mat-toolbar class="toptool">
        <mat-toolbar-row class="toolrow">
            <h2>NFT</h2>
            <button class="navbtn" (click)="NavSign()">Get Started</button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="wrapper">
        <div class="infobox">
          <div class="info">
            <div class="subtitle">
              <span>NFT'S</span>
            </div>
      <div class="title">
      <div class="lantern">
                <div class="hook">
                </div>
                <div class="circle">
                  <div class="glow">
                  </div>
       </div>
              </div>
      
              <div class="lantern">
                <div class="hook">
                </div>
                <div class="circle">
                  <div class="glow">
                  </div>
      
                </div>
              </div>
              
            </div>
      
           <div class="subtitle">
             
            </div>
      
            <div class="links">
              <a href="#">keepcalm</a>
              <a href="#">collect</a>
              <a href="#">nft's</a>
            </div>
          </div>
        </div>
      </div>
      
    <div class="image-slider">
        <div class="image-slider-track">
            <div class="slide">
                <img src="/assets/others/i1.jpg">
            </div>
            <div class="slide">
                <img src="/assets/others/i2.jpg">
            </div>
            <div class="slide">
                <img src="/assets/others/i3.jpg">
            </div>

            <div class="slide">
                <img src="/assets/others/i4.jpg">
            </div>
            <div class="slide">
                <img src="/assets/others/i5.jpg">
            </div>
            <div class="slide">
                <img src="/assets/others/i6.jpg">
            </div>

            <div class="slide">
                <img src="/assets/others/i7.jpg">
            </div>
            <div class="slide">
                <img src="/assets/others/i1.jpg">
            </div>
            <div class="slide">
                <img src="/assets/others/i2.jpg">
            </div>

            <div class="slide">
                <img src="/assets/others/i3.jpg">
            </div>
            <div class="slide">
                <img src="/assets/others/i4.jpg">
            </div>
            <div class="slide">
                <img src="/assets/others/i5.jpg">
            </div>
        </div>
    </div>
</body>

